<%= render 'layouts/header' %>
<p id="notice" align="center"><%= notice %></p>


<div class="container-fluid pull-left col-md-2.5 border" >
  <h2 align="center" class="border">Notes</h2>
    <%= link_to "New Note", new_note_path, remote: true ,class: "btn btn-info pull-left new-note"%>
      <%= render 'layouts/side-menu'%>
  </div>
</div>

<br>
<%# link_to 'New Note', new_note_path, remote: true %>
<div class="modal fade" id="note-form"></div>
<div id="index-form"></div>
