<%= form_with(model: [ @note, @note.comments.build ]) do |form| %>

    <%= form.text_area :body, class: "form-control" %>

  <div class="form-group">
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="form-group">
    <%= form.submit class: "btn btn-success"%>

  </div>

  </p>
<% end %>
