/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 a:hover{
   text-decoration: none;
   background-color: inherit;
   opacity: 1.0;
   hover:none;
}
.greetings{
  text-transform: capitalize;
  size:20px;
}
.message{
  color:#ff0000;
  font-size:20px;
}
.title{
  text-decoration:none;
  color:#000066;
  font-size:20px;
}
.edit{
  text-decoration:none;
  color:black;
  font-size:15px;

}
.delete{
  text-decoration:none;
  color:#ff0000;
  font-size:15px;

}
.share{
  text-decoration:none;
  font-size:15px;

}
.important{
  font-size:15px;
  text-decoration:none;
  color:#3333ff;
}
