<div class="modal-dialog">
  <div class="modal-content">
    <%= form_tag charges_path do %>
      <div class="modal-body">
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
            <label class="amount">
              <span>Amount: $5.00</span>
            </label>
          </article>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="A month's subscription"
                  data-amount="500"
                  data-locale="auto"
          ></script>
      </div>
    <% end %>
  </div>
</div>
